<?xml version="1.0" encoding="utf-8"?>
<!--
Ce fichier est utilisé par le processus de publication/package de votre projet web. Vous pouvez personnaliser le comportement de ce processus
en modifiant ce fichier MSBuild. Pour en savoir plus à ce sujet, visitez https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Developpement\Sauvegarde\Release\Mesarbres.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Default Web Site/frenesvalue</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=localhost;port=5432;Database=postgres;User Id=postgres;Password=postgresql;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=localhost;port=5432;Database=postgres;User Id=postgres;Password=postgresql;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="arbredb" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=127.0.0.1;port=5432;Database=postgres;User Id=postgres;Password=postgresql;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\arbredb_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=127.0.0.1;port=5432;Database=postgres;User Id=postgres;Password=postgresql;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Mesarbres.Models.ApplicationDbContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Mesarbres.Models.ApplicationDbContext, Mesarbres" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Mesarbres.Models.arbredb" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Mesarbres.Models.arbredb, Mesarbres" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PostgreSQL.AspNet.Identity.EntityFramework.IdentityDbContext" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="PostgreSQL.AspNet.Identity.EntityFramework.IdentityDbContext, PostgreSQL.AspNet.Identity.EntityFramework" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PostgreSQL.AspNet.Identity.EntityFramework.IdentityDbContext`1" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="PostgreSQL.AspNet.Identity.EntityFramework.IdentityDbContext`1, PostgreSQL.AspNet.Identity.EntityFramework" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PostgreSQL.AspNet.Identity.EntityFramework.IdentityDbContext`6" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="PostgreSQL.AspNet.Identity.EntityFramework.IdentityDbContext`6, PostgreSQL.AspNet.Identity.EntityFramework" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="EntityFramework.CodeFirst.ApplicationDbContext" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="EntityFramework.CodeFirst.ApplicationDbContext, Mesarbres" MigrationConfiguration="EntityFramework.CodeFirst.Migrations.ApplicationDbInitializer, Mesarbres" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)arbredb-Web.config Connection String" />
    <MSDeployParameterValue Include="EntityFramework.CodeFirst.ApplicationDbContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="PostgreSQL.AspNet.Identity.EntityFramework.IdentityDbContext`6-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="PostgreSQL.AspNet.Identity.EntityFramework.IdentityDbContext`1-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="PostgreSQL.AspNet.Identity.EntityFramework.IdentityDbContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Mesarbres.Models.arbredb-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Mesarbres.Models.ApplicationDbContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="EntityFramework.CodeFirst.ApplicationDbContext" />
    <_ConnectionStringsToInsert Include="Mesarbres.Models.ApplicationDbContext" />
    <_ConnectionStringsToInsert Include="Mesarbres.Models.arbredb" />
    <_ConnectionStringsToInsert Include="PostgreSQL.AspNet.Identity.EntityFramework.IdentityDbContext" />
    <_ConnectionStringsToInsert Include="PostgreSQL.AspNet.Identity.EntityFramework.IdentityDbContext`1" />
    <_ConnectionStringsToInsert Include="PostgreSQL.AspNet.Identity.EntityFramework.IdentityDbContext`6" />
  </ItemGroup>
</Project>